name: Builder Humble arm64

on:
  workflow_dispatch:
  push:
    paths:
      - ros2.repos
jobs:
  build_testing:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: qiayuanl/soem_ros2
          token: ${{ secrets.GH_PAT }}
          path: 'src/soem_ros2'
      - uses: actions/checkout@v2
        with:
          repository: qiayuanl/legged_control2
          token: ${{ secrets.GH_PAT }}
          path: 'src/legged_control2'
      - uses: actions/checkout@v2
        with:
          repository: qiayuanl/onnxruntime_ament
          token: ${{ secrets.GH_PAT }}
          path: 'src/onnxruntime_ament'
          ref: 'offline'
      - uses: actions/checkout@v2
        with:
          repository: qiayuanl/cleardrive
          token: ${{ secrets.GH_PAT }}
          path: 'src/cleardrive'
          ref: 'feature/ament_cmake'
      - uses: qiayuanl/ros-deb-builder-action@main
        with:
          DEB_DISTRO: jammy
          ROS_DISTRO: humble
          DEB_ARCH: arm64
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQUASH_HISTORY: true
          SKIP_CHECKOUT: true
          REPOS_FILE: ros2.repos
          SKIP_PACKAGES: >-
            soem_interface_examples
            cleardrive_example
            legged_rl_controllers
            legged_gazebo
